<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/View/CSS/RemuneracionRetencion.css">
    <link rel="stylesheet" href="/View/CSS/bootstrap.min.css">
</head>
<body>
    <form action="" name="form">
        <label for="number">sueldo</label>
        <input type="number" name="" id="number">
        <label for="years">años</label>
        <select name="years" id="years">
            <option class="option_value" value="option_value">1 año a 3 años</option>
            <option class="option_value" value="option_value">3 años a 10 años</option>
            <option class="option_value" value="option_value">10 años a mas </option>
        </select>   
    </form>
    <input type="submit" value="calcular" onclick="renta(); Remuneracion(); calculos();">
    <div class="container">
        <table class="renta_mensual">
            <caption>Renta Mensual</caption>
            <tr>
                <th style="text-align: start;">Salario Mensual</th>
                <th id="salario">$ 0</th>
            </tr>
            <tr>
                <td class="Deduccion">Deduccion</td>
                <td id="deduccion"></td>
            </tr>
            <tr>
                <td>AFP: 7.25%</td>
                <td id="AFPCalculado">$ 0</td>
            </tr>
            <tr>
                <td>Deduccion ISSS: 3%</td>
                <td id="ISSSCalculado">$ 0</td>
            </tr>
            <tr>
                <td class="Total">Total</td>
                <td id="TotalCalculado">$ 0</td>
            </tr>
            <tr>
                <td>Determinacion ISR</td>
                <td></td>
            </tr>
            <tr>
                <td class="Renta">Renta Imponible</td>
                <td id="RentaCalculado">$ 0</td>
            </tr>
        </table>
        <table class="remuneraciones">
            <caption>Remuneraciones</caption>
            <tr>
                <th>Meses</th>
                <th>REMUNERACIONES GRAVADAS DE ENERO A DICIEMBRE</th>
            </tr>
            <tr>
                <td>ENERO</td>
                <td id="enero">$ 0</td>
            </tr>
            <tr>
                <td>FEBRERO</td>
                <td id="febrero">$ 0</td>
            </tr>
            <tr>
                <td>MARZO</td>
                <td id="marzo">$ 0</td>
            </tr>
            <tr>
                <td>ABRIL</td>
                <td id="abril">$ 0</td>
            </tr>
            <tr>
                <td>MAYO</td>
                <td id="mayo">$ 0</td>
            </tr>
            <tr>
                <td>JUNIO</td>
                <td id="junio">$ 0</td>
            </tr>
            <tr>
                <td>JULIO</td>
                <td id="julio">$ 0</td>
            </tr>
            <tr>
                <td>AGOSTO</td>
                <td id="agosto">$ 0</td>
            </tr>
            <tr>
                <td>SEPTIEMBRE</td>
                <td id="setpiembre">$ 0</td>
            </tr>
            <tr>
                <td>OCTUBRE</td>
                <td id="octubre">$ 0</td>
            </tr>
            <tr>
                <td>NOVIEMBRE</td>
                <td id="noviembre">$ 0</td>
            </tr>
            <tr>
                <td>DICIEMBRE</td>
                <td id="diciembre">$ 0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td id=total>$ 0</td>
            </tr>
        </table>

        <!-- tabla de los calculos -->
        <table class="calculos">
            <caption></caption>
            <tr>
                <th colspan="2">Calculo de la Renta</th>
            </tr>
            <tr>
                <td>Salario Base</td>
                <td id="salarioBase">$ 0</td>
            </tr>
            <tr>
                <td>Renta Imponible</td>
                <td id="RentaImponible">$ 0</td>
            </tr>
            <tr>
                <td>AFP</td>
                <td id="AFPTotal">$ 0</td>
            </tr>
            <tr>
                <td>ISS</td>
                <td id= "ISSSTotal">$ 0</td>
            </tr>
            <tr>
                <td>Impuesto sobre la Renta</td>
                <td id="Impuesto">$ 0</td>
            </tr>
            <!-- <tr>
                <td>Descuento total</td>
                <td id="descuento">$ 0</td>
            </tr> -->
            <tr>
                <td>Salario liquido</td>
                <td id="salarioLiquido">$ 0</td>
            </tr>
        </table>
    </div>
    <script src="/Controller/JS/RemuneracionRetencion.js"></script>
</body>
</html>